    .sfx_badge_logo{
        border-radius: 5px;
        background: url(https://cdn3.iconfinder.com/data/icons/picons-social/57/06-facebook-64.png) center center no-repeat rgb(44, 65, 102);
        opacity: 0.2;
    }
